@media ( min-width: 320px )
    .navigation-content .media
        display: none
    

@media ( min-width: 375px )
    .bttns
        flex-direction: row
        justify-content: center
    .main-text-block
        &__bttn:last-child
            margin: 0
            margin-left: 20px

@media ( min-width: 768px )
    .header-content
        display: flex
        flex-direction: row-reverse
        & .main-text-block
            max-width: 52%
        & .bttns
            justify-content: start
    .card
        grid-template-columns: 1fr 1fr
        justify-content: center
        align-items: center
    .pros
        grid-template-columns: 40% 60%
        &__content
                grid-template-columns: 1fr 1fr
                padding: 0
                grid-gap: 45px
        &__img
            max-width: 300px
    .bttns 
        justify-content: center
    .history
        &-content
            display: grid
            grid-template-columns: 1fr 1fr

    .about-us
        &__img
            display: block
        &-content
            display: grid
            grid-template-columns: 1fr 1fr

    .products
        display: grid
        grid-template-columns: 1fr 1fr

    .video
        &-content
            display: grid
            grid-template-columns: 30% 70%
        & .main-text-block__title
            font-size: 4.4rem
    .top-wines-content
        display: grid
        grid-template-columns: 1fr 1fr

    .awards-item
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: 15% 15% 15% 55%

    .questions-content
        display: grid
        grid-template-columns: 65% 35%
    .info
        &-content
            display: grid
            grid-template-columns: 1fr 1fr
        &__icon
            width: 70px
            height: 70px
    .join-content
        display: grid
        grid-template-columns: 70% 30%
    .contact-content 
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-gap: 20px  
    .instagram
        &-gallery
            grid-gap: 20px  
    .rights
        &-content
            flex-direction: row
            justify-content: space-between
        &__text
            display: inline-block





@media ( min-width: 980px )
    .card
        grid-template-columns: 1fr 1fr 1fr
    .burger-icon
        display: none
    .navbar, .navigation-content .media
        display: flex

