@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:wght@300;400&display=swap');

:root {
    font-family: 'Prata', serif;
    --main-color: rgb(255,255,255);
    --orange-color: #c8693a;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

/* Stard header  styles*/

.header {
    background-image: url(../img/header.jfif);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

.navigation {
    color: var(--main-color);
    background: rgba(0, 0, 0, 0.815);
}

.navigation-content {
    display: flex;
    justify-content: space-between;
}

.logo__img {
    max-width: 170px;
}

.header-content {
    padding-top: 110px;
    padding-bottom: 130px;
}


.main-text-block {
    text-align: center;
    color: var(--main-color);
}

.main-text-block_left {
 text-align: left;
}

.main-text-block__above {
    font-family: 'Great Vibes', cursive;
    font-size: 1.2rem;
    color: var(--orange-color);
}

.main-text-block__title {
    font-size: 2.125rem;
    padding-top: 10px;
}

.main-text-block__title_bigger {
    font-size: 3.625rem;
    font-weight: normal;
}

.main-text-block__img {
    padding-top: 20px;
}

.main-text-block__subtitle {
    font-size: 1.1rem;
    line-height: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400px;
    padding-top: 15px;
}

.main-text-block__btns {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-size: 0.9rem;
}

.main-text-block__btn:last-child {
    margin-top: 15px;
}

.main-text-block__btn {
    display: inline-block;
    text-align: center;
    border: 3px solid var(--main-color);
    max-width: 120px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    color: inherit;
    border-radius: 3px;
}
.main-text-block__btn:hover{
    background: var(--orange-color);
    border-color: var(--orange-color);

}


@media (min-width: 320px) {

    .container {
        padding: 10px;
    }

    #burger-checkbox,
    .media,
    .navbar
     {
        display: none;
    }

    .burger-icon {
        font-size: 1.8rem;
    }

    .navigation {
        background: none;
    }

}

@media (min-width: 375px) {

    .container {
        padding: 20px
    }

    .main-text-block__btns {
        flex-direction: row;

    }

    .main-text-block__btn:last-child {
        margin-top: 0px;
        margin-left: 15px;
    }
}

@media (min-width: 768px) {
    .header-content {
        display: flex;
        justify-content: flex-end;
    }


}

@media (min-width: 1024px) {

    .navigation {
        background: rgba(0, 0, 0, 0.541);
    }

}

/* End header  styles */