@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
}

.container {
  max-width: 980px;
  width: 100%;
  color: #fff;
  margin: 0 auto;
}

.navigation {
  padding: 25px 0;
  background: rgba(0, 0, 0, 0.507);
}

.navigation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  display: block;
  max-width: 176px;
  width: 100%;
}

.menu {
  display: flex;
}

.menu .media {
  padding-left: 20px;
}

#burger-checkbox {
  display: none;
}

.burger-icon {
  font-size: 2em;
  cursor: pointer;
}

.burger-icon:hover {
  color: #c8693a;
}

.navbar {
  display: flex;
  display: none;
  font-family: "Rubik", sans-serif;
}

.navbar__link {
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  transition: 0.3s;
  font-weight: bold;
}

.navbar__link:hover {
  color: #c8693a;
}

.navbar__item + .navbar__item {
  margin-left: 10px;
}

.header {
  background-image: url(../img/header.jfif);
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

.header-content {
  padding-top: 115px;
  padding-bottom: 180px;
}

.main-text-block {
  text-align: center;
}

.main-text-block_left {
  text-align: left;
}

.main-text-block__above {
  color: #c8693a;
  font-family: "Great Vibes", cursive;
}

.main-text-block__title {
  font-size: 2rem;
  font-weight: normal;
  padding-top: 13px;
}

.main-text-block__title_bigger {
  font-size: 3.625rem;
  line-height: 69.6px;
}

.main-text-block__img {
  padding-top: 40px;
}

.main-text-block__subtitle {
  padding-top: 12px;
  line-height: 30px;
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  padding-bottom: 30px;
}

.bttns {
  display: flex;
  color: #fff;
  flex-direction: column;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
}

.bttns_center {
  align-items: center;
}

.bttns__bttn {
  color: #fff;
  padding: 12px;
  border: 3px solid #fff;
  border-radius: 3px;
  font-weight: 700;
  transition: 0.3s;
  display: inline;
  background: #c8693a;
  border-color: #c8693a;
}

.bttns__bttn:hover {
  background: #a14d23;
  border-color: #a14d23;
}

.bttns__bttn_else {
  color: #fff;
  background: transparent;
  border-color: #fff;
}

.bttns__bttn_else:hover {
  background: #fff;
  color: black;
}

.about {
  background: #261e1c;
  padding-top: 90px;
}

.about-content {
  padding-top: 110px;
  padding-bottom: 50px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.card__content {
  padding-top: 15em;
  padding-bottom: 2em;
}

.card__item {
  justify-items: center;
  background-size: cover;
  padding: 0 2em;
}

.card__item_events {
  background-image: url(../img/about/events.jfif);
}

.card__item_wines {
  background-image: url(../img/about/organic.jfif);
}

.card__item_varieties {
  background-image: url(../img/about/variates.jfif);
}

.card__item_redWines {
  background-image: url(../img/wines/red-wine.jfif);
}

.card__item_whiteWines {
  background-image: url(../img/wines/white-wine.jfif);
}

.card__bttn {
  display: block;
  margin-top: 20px;
}

.second-text-block__above {
  font-family: "Great Vibes", cursive;
  color: #c8693a;
}

.second-text-block__title {
  position: relative;
}

.second-text-block__title::before {
  content: '';
  position: absolute;
  width: 15%;
  height: 2px;
  background: #c8693a;
  bottom: -30%;
}

.second-text-block__title_center::before {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 2em;
}

.second-text-block__subtitle {
  padding-top: 17%;
  font-family: "Rubik", sans-serif;
  color: #898082;
}

.second-text-block__link {
  display: inline-block;
  margin-top: 40px;
  position: relative;
}

.second-text-block__link::before {
  position: absolute;
  content: "\1F812";
  font-size: 2rem;
  width: 24px;
  height: 24px;
  top: 0;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pros {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
}

.pros__img {
  width: 100%;
}

.pros__content {
  padding: 50px 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.discover {
  background-image: url(../img/discover.jfif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.discover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(94, 92, 92, 0.349);
  z-index: 1;
}

.discover-content {
  position: relative;
  z-index: 2;
}

.wine-shop {
  background: #261e1c;
  padding-top: 100px;
  padding-bottom: 100px;
}

.product {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.product__img {
  max-width: 360px;
  width: 100%;
}

.product__name {
  padding-top: 20px;
}

.product__price {
  padding-top: 20px;
}

.product__bttn {
  background: #c8693a;
  border: none;
  font-weight: 900;
  margin-top: 10px;
}

.history {
  background: #261e1c;
  padding-bottom: 100px;
}

.history-content {
  display: grid;
  grid-gap: 2em;
  padding-top: 60px;
}

.history__img {
  width: 100%;
}

.about-us {
  background: #241918;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-us__img {
  width: 100%;
  display: none;
}

.about-us__items {
  padding-top: 50px;
}

.about-us__item + .about-us__item {
  padding-top: 50px;
}

.about-us__title {
  font-size: 1.375rem;
}

.about-us-list {
  padding-top: 20px;
  color: #898082;
}

.about-us-list__item {
  padding-left: 10px;
  position: relative;
}

.about-us-list__item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background: #c8693a;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about-us-list__item + .about-us-list__item {
  margin-top: 5px;
}

.video {
  background-image: url(../img/video-img.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.video-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.video__icon {
  font-size: 3em;
  color: #c8693a;
}

.video__title {
  padding-top: 15px;
}

.video__item {
  padding-top: 50px;
  font-family: "Rubik", sans-serif;
}

.top-wines {
  padding-top: 100px;
  background: #261e1c;
}

.top-wines__bttn {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  font-size: 0.6rem;
}

.discount {
  padding-top: 0px;
  background: #261e1c;
}

.discount-content {
  background: #c8693a;
  padding: 20px 20px;
}

.discount__title {
  font-size: 2.125rem;
}

.discount__subtitle {
  font-family: "Rubik", sans-serif;
  padding-top: 20px;
}

.awards {
  background: #261e1c;
  padding-top: 100px;
}

.awards-content {
  display: grid;
  grid-gap: 2em;
}

.awards-item {
  padding-top: 50px;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  justify-items: center;
}

.awards-item__img {
  width: 100%;
}

.awards-item__text {
  color: #898082;
}

.testimonials {
  background: #261e1c;
  padding-top: 100px;
}

.testimonials-slider {
  padding-top: 50px;
  text-align: center;
}

.questions {
  background: #261e1c;
  padding-top: 100px;
}

.questions-content {
  padding-top: 50px;
}

.questions__img {
  width: 100%;
  padding-top: 50px;
}

.accordeon__item {
  padding: 30px 0;
  font-size: 1.375rem;
  border-bottom: 1px solid #898082;
}

.accordeon__title {
  width: 80%;
  position: relative;
}

.accordeon__title::before {
  content: "+";
  position: absolute;
  font-size: 2rem;
  top: 50%;
  right: -25%;
  transform: translate(-50%, -50%);
}

.info {
  background: #261e1c;
}

.info-content {
  padding-bottom: 5em;
}

.info__icon {
  margin-bottom: 10px;
  color: #c8693a;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  background: #342e2e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__item {
  padding-top: 50px;
}

.join {
  background: #241918;
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
}

.join::before {
  content: '';
  width: 90%;
  height: 2px;
  background: #898082;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.join-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.join-form__input {
  padding: 15px 10px;
  background: #898082;
  text-align: center;
  border-radius: 5px;
  color: #dddddd;
  background: #3b3b3b;
  cursor: text;
}

.join-form__input:focus {
  outline: 1px solid #fff;
}

.join-form__bttn {
  width: 100%;
  margin-top: 15px;
  background: #c8693a;
  border: none;
}

.contact {
  background: #261e1c;
}

.contact-list {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-list::before {
  left: 0;
}

.contact-list__link {
  display: block;
  text-align: center;
}

.contact-list__item:first-child {
  padding-bottom: 20px;
  color: #fff;
}

.contact-list__item + .contact-list__item {
  padding-top: 10px;
  color: #898082;
  font-size: 0.9rem;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media__icon {
  color: #c8693a;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.3s;
}

.media__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media__icon:hover {
  background: #c8693a;
  color: #000;
}

.media__item {
  border: 1px solid #c8693a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.media__item + .media__item {
  margin-left: 15px;
}

.media__link {
  width: 100%;
  height: 100%;
}

.media__link + .media__link {
  margin-left: 15px;
}

.instagram-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding-top: 1em;
  padding-bottom: 2em;
}

.instagram-gallery__item {
  max-width: 100px;
  width: 100%;
}

.rights {
  background: black;
  padding: 1em;
}

.rights-content {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) {
  .container {
    max-width: 272px;
  }
  .navigation {
    background: none;
  }
  .navigation-content .media {
    display: none;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 320px;
  }
  .bttns {
    flex-direction: row;
  }
  .bttns__bttn + .bttns__bttn {
    margin: 0;
    margin-left: 10px;
  }
  .discover .bttns {
    justify-content: space-around;
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 380px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 704px;
  }
  .header-content {
    padding-top: 15em;
    padding-bottom: 20em;
    display: flex;
    flex-direction: row-reverse;
  }
  .header-content .bttns {
    justify-content: start;
  }
  .card {
    grid-template-columns: 1fr 1fr;
  }
  .pros {
    grid-template-columns: 40% 60%;
  }
  .pros__content {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: 45px;
  }
  .pros__img {
    max-width: 300px;
  }
  .discover .bttns {
    justify-content: center;
  }
  .history-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-us__img {
    display: block;
    position: relative;
    left: -30%;
  }
  .about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .video-content {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .video .main-text-block__title {
    font-size: 4.4rem;
  }
  .video__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .awards-item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 0.5fr 3fr;
    align-self: center;
  }
  .questions-content {
    display: grid;
    grid-template-columns: 65% 35%;
  }
  .info-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
  }
  .join-content {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .rights-content {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 980px) {
  .container {
    max-width: 900px;
  }
  .burger-icon {
    display: none;
  }
  .navbar, .navigation-content .media {
    display: flex;
  }
}
/*# sourceMappingURL=index.css.map */